@import url(https://fonts.google.com/specimen/Water+Brush);

*{
    font-family: serif;
    font-size: 1.50vw;
}

h1{
    color: black;
}

body{
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: burlywood;
    align-items: space-between;
}

#begin{
    display: inline-block;
    color: white;
    background-color: #a52a2a;
    padding: 2%;
}

#playPlace{
    display: none;
    background-color: beige;
    color: black;
    max-width: 60vw;
    padding: 3vw;
}

button{
    background-color: #87ADDE;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#resetBtn{
    background-color: #ce4343;
}